* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  margin: 0; /*rem：网页根字体*/
  padding: 1.5rem; /*内边距 容器内元素与元素之间的距离*/
}
.subpage-body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.page-container {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 2.5rem;
}
.title {
  font-size: 1.5rem;
  font-weight: 600;
  width: 100%;
  margin: 0; /*外边距 容器与容器之间的距离*/
}
.header-line-long {
  width: 30.375rem;
  height: 0.125rem;
  background-color: #808080;
  margin-top: 0.5rem;
  border-radius: 1rem;
}
.header-line-short {
  width: 11.25rem;
  height: 0.25rem;
  background-color: black;
  margin-top: -0.1875rem;
  border-radius: 1rem;
}
.bento {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.card {
  overflow: hidden;
  background-color: #eff7f7;
  border-radius: 0.75rem;
  padding: 1.5rem 1.5rem;
}
.project-card {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.row1 {
  display: flex;
  align-items: stretch;
  gap: 1.5rem;
}
.intro-text {
  display: flex;
  align-items: center;
  flex-grow: 1;
  background: linear-gradient(to right, #d4f24e, #9bedf8);
  padding: 1.5rem 1.5rem;
}
.resume {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24rem;
  gap: 0.75rem;
  text-decoration: none;
  color: inherit;
}
.resume:hover .icon-resume {
  animation: swing 0.6s ease-in-out;
}
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-8deg);
  }
  60% {
    transform: rotate(6deg);
  }
  80% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.icon-resume {
  display: inline-block;
  transform-origin: center;
  transition: transform 0.2s ease-out;
}
.typewriter {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  width: 0;
  border-right: none;
  position: relative;
  animation: typing 2.5s steps(20, end) forwards;
}
.typewriter::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 0.125rem;
  background-color: black;
  animation: blink 0.7s step-end 3.3;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}
@keyframes typing {
  form {
    width: 0;
  }
  to {
    width: 20ch;
  }
}
@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.project-pic {
  height: 11.25rem;
  border-radius: 0.75rem;
  border: 0.25rem solid #fff;
  transition: transform 0.3s ease;
}
.project-pic:hover {
  box-shadow: 8px 8px 30px -10px rgba(106, 205, 218, 0.8);
  transform: scale(1.05);
  z-index: 10;
}
.img {
  height: 10.75rem;
  border-radius: 0.5rem;
  /* border: 0.25rem solid #fff; */
}
.row2 {
  display: flex;
  align-items: stretch;
  height: 18.125rem;
  gap: 1.5rem;
}
.app-project {
  display: flex;
  flex-direction: column;
  width: 36.75rem;
  gap: 1.5rem;
  justify-content: space-between;
}
.app-project-img {
  justify-content: flex-start;
  display: flex;
  align-items: center;
}
.funny-school {
  z-index: 1;
  position: relative;
  left: 11.5rem;
}
.art-pixel {
  z-index: 2;
}
.column2 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 18.125rem;
}
.other-project {
  display: flex;
  flex-direction: column;
  width: 17.625rem;
  gap: 1.5rem;
}
.other-project-img {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.draw-pic {
  height: 6.25rem;
  border: 2px solid #fff;
  border-radius: 8px;
}
.draw3 {
  z-index: 3;
}
.draw2 {
  z-index: 2;
  position: relative;
  left: 8.7rem;
}
.other-project-more {
  z-index: 1;
  position: relative;
  left: 18rem;
  width: 10.5rem;
  background: linear-gradient(to right, #fff 0%, #9bedf8 50%, #9bedf8 100%);
}
.nothing {
  flex-grow: 1;
  background-color: #d5f24f;
}
.social-card {
  width: 17.625rem;
  flex-grow: 1;
  background-color: #9bedf8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}
.social-card-element {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.boundary-line {
  width: 0.125rem;
  height: 10rem;
  background-color: #fff;
  flex-shrink: 0;
}
.social-icon {
  filter: brightness(999%) grayscale(1);
  transition: transform 0.4s ease;
}
.social-icon:hover {
  transform: scale(1.08);
}
.row3 {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 17.625rem;
  gap: 1.5rem;
}
.cat-card {
  height: 100%;
  aspect-ratio: 1/1;
  background-color: #fed133;
  display: flex;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cat-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.web-project {
  width: 43.125rem;
  height: 100%;
  gap: 1.5rem;
  contain: strict;
}
.web-project-img {
  display: flex;
  justify-content: flex-start;
}
.gfm-pic {
  z-index: 4;
}
.xhub-pic {
  z-index: 3;
  position: relative;
  left: 13rem;
}
.random-password-pic {
  z-index: 2;
  position: relative;
  left: 26rem;
}
.web-project-more {
  z-index: 1;
  position: relative;
  left: 44rem;
  width: 20rem;
  height: 11.25rem;
  border: 0.25rem solid #fff;
  border-radius: 0.75rem;
  background: linear-gradient(to right, #fff 0%, #9bedf8 50%, #9bedf8 100%);
}
.nothing2 {
  flex-grow: 1;
  width: 11.25rem;
  background-color: #d5f24f;
}
.project-card {
  cursor: pointer;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 2.5rem;
  gap: 1rem;
}
.first-line {
  width: 17.625rem;
  height: 0.125rem;
  background-color: #808080;
  border-radius: 1rem;
}
.second-line {
  width: 11.25rem;
  height: 0.125rem;
  background-color: #808080;
  border-radius: 1rem;
}
.third-line {
  width: 4.875rem;
  height: 0.125rem;
  background-color: #808080;
  border-radius: 1rem;
}

/* -------------------以下是二级页面------------------- */
.secondary-page-title {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  gap: 0.25rem;
}
.card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}
.project-grid {
  width: 100%;
  column-count: 2;
  column-gap: 1.5rem;
}
.secondary-page-img {
  width: 100%;
  overflow: hidden;
  margin-bottom: 1.5rem;
  align-self: start; /* 让它不要被拉高！ */
  transition: all 0.3s ease;
  img {
    width: 100%;
    border-radius: 0.75rem;
  }
}
.secondary-page-img:hover {
  box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.6);
  border-radius: 0.75rem;
  transform: scale(1.02);
}
/* 遮罩层，初始隐藏 */
.image-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8); /* 黑色半透明 */
  backdrop-filter: blur(10px); /* 毛玻璃效果 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 0;
  pointer-events: none; /* 防止挡住页面 */
  transition: opacity 0.3s ease;
}
.image-overlay.active {
  opacity: 1;
  pointer-events: auto;
}
/* 放大显示的图片 */
.enlarged-img {
  width: 80vw; /* 最大宽度：视口宽度的80% */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
  object-fit: contain; /* 按比例缩放填充 */
  border-radius: 0.75rem;
}
/* 添加 active 时的缩放动画 */
.image-overlay.active .enlarged-img {
  transform: scale(1);
}
/* 鼠标指针提示 */
.preview-img {
  cursor: zoom-in;
}
.image-overlay {
  cursor: zoom-out;
}

/* -------------------以下是三级页面------------------- */
.masonry {
  column-count: 1;
  column-gap: 1.5rem;
}
.project-img {
  width: 100%;
  margin-bottom: 1.5rem;
  break-inside: avoid;
}
.project-desc {
  margin-top: 2rem;
  font-size: 1.25rem;
  line-height: 1.8;
}
